.side-bar
  .side-bar__side-bar-header
    .side-bar__side-bar-header__top-items
      .side-bar__side-bar-header__top-items__user-name かずほ
      .side-bar__side-bar-header__top-items__icons
        .side-bar__side-bar-header__top-items__icons__icon-plus
          = icon('fas' , 'plus', class: 'icon')
  .side-bar__list-groups
    .side-bar__list-groups__group-title　買い物
    .side-bar__list-groups__group-title　見たい映画
    .side-bar__list-groups__group-title　モーニングルーティン